@model Blog_App_Dev.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="mb-3 text-center">
        <a asp-controller="BlogPosts" asp-action="Create" class="btn btn-primary">
            Post something!
        </a>
    </div>
    <section class="container py-5">
        <div class="row">
            <h2 class="col-12 mb-4">Latest Posts</h2>
            @foreach (var post in Model.LatestPosts)
            {
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => post.Title)</h5>
                            <p class="card-text">
                                @Html.Raw(post.Excerpt)
                            </p>
                            <a href="@Url.Action("Details", "BlogPosts", new { id = post.ID })" class="btn btn-primary">Read More</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on @Html.DisplayFor(modelItem => post.DatePosted) by @Html.DisplayFor(modelItem => post.User.UserName)
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center">
                <a asp-controller="BlogPosts" asp-action="Posts" class="btn btn-secondary">See More</a>
            </div>
        </div>

        <div class="row mt-5">
            <h2 class="col-12 mb-4">Top Users</h2>
            @foreach (var user in Model.TopUsers)
            {
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => user.UserName)</h5>
                            <p class="card-text">Posts: @user?.Posts?.Count</p>
                            <p class="card-text">Comments: @user?.Comments?.Count</p>
                            <a href="@Url.Action("Details", "Profile", new { id = user.Id })" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center">
                <a href="#" class="btn btn-secondary">See More</a>
            </div>
        </div>
    </section>
</main>
