@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section class="container">
    <div class="card">
        <h2>Latest Posts</h2>
        @foreach (var post in Model.LatestPosts)
        {
            <a href="@Url.Action("Details", "BlogPosts", new { id = post.ID })" class="item-card-link" id="post">
                <div class="item-card item-card-hover">
                    <h3>@post.Title</h3>
                    <p>@post.Content</p>
                </div>
            </a>
        }
    </div>
    <div class="card">
        <h2>Top Users</h2>
        @foreach (var user in Model.TopUsers)
        {
            <a href="@Url.Action("Details", "Profile", new { id = user.Id })" class="item-card-link" id="user">
                <div class="item-card item-card-hover user">
                    <h3>@user.UserName</h3>
                    <p>Posts: @user?.Posts?.Count</p>
                    <p>Comments: @user?.Comments?.Count</p>
                </div>
            </a>
        }
    </div>
</section>
