@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section class="container">
    <div class="card">
        <h2>Latest Posts</h2>
        @foreach (var post in Model.LatestPosts)
        {
            <a href="@Url.Action("Details", "BlogPosts", new { id = post.ID })" class="item-card-link">
                <div class="item-card item-card-hover">
                    <h3>@post.Title</h3>
                    <p>@post.Content</p>
                </div>
            </a>
        }
    </div>
    <div class="card">
        <h2>Top Users</h2>
        @foreach (var user in Model.TopUsers)
        {
            <div class="item-card user">
                <h3>@user.UserName</h3>
                <p>Posts: @Model.LatestPosts.Count(p => p.UserID == user.Id)</p>
            </div>
        }
    </div>
</section>
