@model IEnumerable<Unsplash.Models.Photo.Full>

@{
    ViewData["Title"] = "Image Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int prevPage = ViewBag.Page - 1;
    int nextPage = ViewBag.Page + 1;
}

<section>
    <h2>@ViewData["Title"]</h2>

    <form asp-action="SearchImage" method="get">
        <p>
            Title: <input type="text" name="query" autofocus />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="container">
        <div class="row">
            @foreach (var photo in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="@photo.Links.Html" target="_blank" rel="noopener noreferrer">
                        <img class="img-fluid" src="@Html.DisplayFor(modelItem => photo.Urls.Thumb)" alt="@photo.AltDescription" title="@photo.Description" />
                    </a>
                    <span>
                        @photo.User.Name
                    </span>
                    <span>
                        @photo.CreatedAt.Year
                    </span>
                </div>
            }
        </div>
    </div>

    <form asp-action="Index" method="post">
        @if (prevPage >= 1)
        {
            <label for="page">&lt</label>
            <input type="submit" name="page" value="@prevPage" />
        }
         ------ 
        <input type="submit" name="page" value="@nextPage" />
        <label for="page">></label>
    </form>
</section>
